*,
html {
  margin: 0;
  padding: 0;
  background-image: url(./assets/bg-img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

@font-face {
  font-family: "PressStart2P";
  src: url('./assets/fonts/PressStart2P.ttf');
}

@font-face {
  font-family: "VT323";
  src: url('./assets/fonts/VT323.ttf');
}